body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div {
    display: flex;
}

.numbers,
.operators {
    flex-direction: column;
}

.button,
.dot,
.operator,
.equal,
.backspace,
.clear {
    border: 1px solid black;
    padding: 10px;
    transition: background-color 0.1s ease;
    /* Makes the transition smooth */
}

.button:hover,
.dot:hover .operator:hover,
.equal:hover,
.backspace:hover,
.clear:hover {
    background-color: rgb(88, 144, 216);
}

.screen {
    border: 1px solid black;
    padding: 20px 60px;
}
